

/** espaçamento entre as caixas de texto*/
table.form th, table.form td {
  padding: 4px; 
  text-align: left; 
  font-weight: normal; 
}
/** Define os labels utilizados*/
table.form label { 
  font-family: Helvetica; 
  color: #181818; 
  margin-right: 12px; 
}
/**Altera o tamanho das caixas de texto*/
table.form input { 
  width: 550px;
  height: 20px;
}

table.form input.end-cidade { 
  width: 204px;
  height: 20px;
  border: 1px solid #c8e152;
  padding: 3px;
  background-color: #FFFFFF; 
  color: #000000; 
}

table.form input.logra { 
  width: 433px;
  height: 20px;
  border: 1px solid #c8e152;
  padding: 3px;
  background-color: #FFFFFF; 
  color: #000000; 
}


table.form input.end-uf { 
  width: 80px;
  height: 20px;
  border: 1px solid #c8e152;
  padding: 3px;
  background-color: #FFFFFF; 
  color: #000000; 
}

/** regula as dimensões da Area de texto*/
table.form textarea { 
  width: 500px; 
  height: 150px;
}
/**altera a cor do background e a cor dos textos das caixas de texto*/
table.form input.inp-text, table.form input.answer, table.form textarea { 
  
  /**-moz-border-radius: 5px; Para Firefox */
  /*-webkit-border-radius: 5px; Para Safari e Chrome */
  /*border-radius: 5px; Para Opera 10.5+*/ 
  
  border: 1px solid #c8e152;
  padding: 3px;
  background-color: #FFFFFF; 
  color: #000000; 
}
/**mantêm o label da area de texto posicionado acima e não no meio*/
table.form th.message-up { 
  vertical-align: top !important;
}
/**alinha o botão a direita*/
table.form td.submit-button-right { 
  text-align: right !important; 
}
/**configura as dimensões e estilo de fonte do botão*/
table.form input.submit-text { 
  font: 1.0em Helvetica;
  letter-spacing: 0px; 
  width: auto; 
  height: 35px;
}
span {
  text-align: right;
}
