#{extends 'main.html' /}
#{set title:'Cadastro de Produto' /}
<script type="application/javascript">
	function showFormA() {
		document.getElementById("A1").style.visibility="visible";
		document.getElementById("A2").style.visibility="visible";
		document.getElementById("A3").style.visibility="visible";
		document.getElementById("B").style.visibility="collapse";
	}
	function showFormB() {
		document.getElementById("A1").style.visibility="collapse";
		document.getElementById("A2").style.visibility="collapse";
		document.getElementById("A3").style.visibility="collapse";
		document.getElementById("B").style.visibility="visible";
	}
</script>

<div align="center">
<h1>Glass Budget</h1>
<h2>Cadastro de Produto</h1>
	<form>
		<table>
			<tr>
				<td>Nome:</td> <td><input type="text" name="nome"></td>
			</tr>
			<tr>
				<td>Preço:</td> <td><input type="text" name="preco"></td>
			</tr>
			<tr>
				<td>Tipo:</td> <td><input type="radio" name="tipo" value="vidro" onfocus="showFormA()">Vidro<input type="radio" name="tipo" value="peca" onfocus="showFormB()">Peça</td>
			</tr>
			<tr id="A1">
				<td>Altura:</td> <td><input type="text" name="altura"></td>
			</tr>
			<tr id="A2">
				<td>Comprimento:</td> <td><input type="text" name="comprimento"></td>
			</tr>
			<tr id="A3">
				<td>Espressura:</td> <td><input type="text" name="espressura"></td>
			</tr>
			<tr id="B">
				<td>Descrição:</td> <td><input type="text" name="descricao"></td>
			</tr>
		</table>
		<input type="submit" name="enviar" value="Enviar">
	</form>
</div>
